BasedOnStyle: Google
ColumnLimit: 0
IndentWidth: 4
BreakBeforeBraces: Linux
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
DerivePointerBinding: false
PointerBindsToType: true
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false