[submodule "External/src/glad"]
	path = External/src/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "External/src/ispc"]
	path = External/src/ispc
	url = https://github.com/ispc/ispc.git
[submodule "External/src/crossguid"]
	path = External/src/crossguid
	url = https://github.com/kiorisyshen/crossguid.git
[submodule "External/src/opengex"]
	path = External/src/opengex
	url = https://github.com/kiorisyshen/OpenGEX.git
[submodule "External/src/zlib"]
	path = External/src/zlib
	url = https://github.com/kiorisyshen/zlib.git
[submodule "External/src/bullet3"]
	path = External/src/bullet3
	url = https://github.com/kiorisyshen/bullet3.git
